<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }} | cl-async</title>
		<link rel="stylesheet" href="/cl-async/css/async.css" type="text/css" />
	</head>
	<body>
		<header>
			<h1><a href="/cl-async">cl-async</a></h1>
		</header>

		<nav>
			<ul>
				<a href="/cl-async/documentation">Documentation</a></li>
				<a href="/cl-async/examples">Examples</a></li>
				<!--<a href="/cl-async/benchmarks">Benchmarks</a></li>-->
				<a href="/cl-async/implementation-notes">Implementation notes</a></li>
				<a href="/cl-async/drivers">Drivers</a></li>
			</ul>
		</nav>

		<div id="content">
			{{ content }}
		</div>

		<footer>
			<ul>
				<li><a href="/cl-async">cl-async documentation</a></li>
				<li><a href="https://github.com/orthecreedence/cl-async">cl-async github</a></li>
			</ul>
		</footer>
	</body>
</html>
