<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }} | cl-async (Asynchronous operations for Common Lisp)</title>
		<link rel="stylesheet" href="/cl-async/css/async.css" type="text/css" />
		<script type="text/javascript" src="/cl-async/js/highlight-lisp/highlight-lisp.js"></script>
		<link rel="stylesheet" href="/cl-async/js/highlight-lisp/themes/github.css" />
	</head>
	<body>
		<div id="container">
			<header class="clear">
				<h1><a href="/cl-async">cl-async</a></h1>
				<nav>
					<ul>
						<li><a href="/cl-async/documentation">Documentation</a></li>
						<li><a href="/cl-async/tests">Tests</a></li>
						<li><a href="/cl-async/examples">Examples</a></li>
						<li><a href="/cl-async/benchmarks">Benchmarks</a></li>
						<li><a href="/cl-async/drivers">Drivers</a></li>
					</ul>
				</nav>
			</header>


			<div id="content">
				{{ content }}
			</div>

			<footer>
				<ul>
					<li><a href="/cl-async">cl-async home</a></li>
					<li><a href="https://github.com/orthecreedence/cl-async">github</a></li>
				</ul>
				<p>MIT Licensed</p>
			</footer>
		</div>
		<script type="text/javascript">
			HighlightLisp.highlight_auto();
		</script>
	</body>
</html>
